<a href="https://colab.research.google.com/github/hornetio/sales_prediction/blob/main/Sales_model.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Загрузка данных

In [1]:
import pandas as pd

In [98]:
test_df=pd.read_csv('test.csv')
train_df=pd.read_csv('train.csv')
add_df=pd.read_csv('store.csv')

<ipython-input-98-18c1b6495887>:2: DtypeWarning: Columns (7) have mixed types. Specify dtype option on import or set low_memory=False.
  train_df=pd.read_csv('train.csv')

#Чищу NaN

In [46]:
train_df.isna().sum()

Store            0
DayOfWeek        0
Date             0
Sales            0
Customers        0
Open             0
Promo            0
StateHoliday     0
SchoolHoliday    0
dtype: int64

In [47]:
test_df.isna().sum()

Id                0
Store             0
DayOfWeek         0
Date              0
Open             11
Promo             0
StateHoliday      0
SchoolHoliday     0
dtype: int64

In [99]:
test_df.fillna(0,inplace=True)

In [49]:
add_df.isna().sum()

Store                          0
StoreType                      0
Assortment                     0
CompetitionDistance            3
CompetitionOpenSinceMonth    354
CompetitionOpenSinceYear     354
Promo2                         0
Promo2SinceWeek              544
Promo2SinceYear              544
PromoInterval                544
dtype: int64

In [100]:
add_df.loc[add_df['Promo2'] == 0, ['Promo2SinceWeek', 'Promo2SinceYear', 'PromoInterval']] = 0

In [101]:
add_df['CompetitionDistance'].fillna(add_df['CompetitionDistance'].mean(), inplace=True)
add_df['CompetitionOpenSinceMonth'].fillna(int(add_df['CompetitionOpenSinceMonth'].mean()), inplace=True)
add_df['CompetitionOpenSinceYear'].fillna(int(add_df['CompetitionOpenSinceYear'].mean()), inplace=True)

#Мерджим данные

In [102]:
merged_test = pd.merge(test_df, add_df, on='Store')

In [103]:
merged_train = pd.merge(train_df, add_df, on='Store')

In [104]:
merged_test

,Id,Store,DayOfWeek,Date,Open,Promo,StateHoliday,SchoolHoliday,StoreType,Assortment,CompetitionDistance,CompetitionOpenSinceMonth,CompetitionOpenSinceYear,Promo2,Promo2SinceWeek,Promo2SinceYear,PromoInterval
0,1,1,4,2015-09-17,1.0,1,0,0,c,a,1270.0,9.0,2008.0,0,0.0,0.0,0
1,857,1,3,2015-09-16,1.0,1,0,0,c,a,1270.0,9.0,2008.0,0,0.0,0.0,0
2,1713,1,2,2015-09-15,1.0,1,0,0,c,a,1270.0,9.0,2008.0,0,0.0,0.0,0
3,2569,1,1,2015-09-14,1.0,1,0,0,c,a,1270.0,9.0,2008.0,0,0.0,0.0,0
4,3425,1,7,2015-09-13,0.0,0,0,0,c,a,1270.0,9.0,2008.0,0,0.0,0.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
41083,37664,1115,3,2015-08-05,1.0,1,0,1,d,c,5350.0,7.0,2008.0,1,22.0,2012.0,"Mar,Jun,Sept,Dec"
41084,38520,1115,2,2015-08-04,1.0,1,0,1,d,c,5350.0,7.0,2008.0,1,22.0,2012.0,"Mar,Jun,Sept,Dec"
41085,39376,1115,1,2015-08-03,1.0,1,0,1,d,c,5350.0,7.0,2008.0,1,22.0,2012.0,"Mar,Jun,Sept,Dec"
41086,40232,1115,7,2015-08-02,0.0,0,0,1,d,c,5350.0,7.0,2008.0,1,22.0,2012.0,"Mar,Jun,Sept,Dec"
41087,41088,1115,6,2015-08-01,1.0,0,0,1,d,c,5350.0,7.0,2008.0,1,22.0,2012.0,"Mar,Jun,Sept,Dec"

In [105]:
merged_train

,Store,DayOfWeek,Date,Sales,Customers,Open,Promo,StateHoliday,SchoolHoliday,StoreType,Assortment,CompetitionDistance,CompetitionOpenSinceMonth,CompetitionOpenSinceYear,Promo2,Promo2SinceWeek,Promo2SinceYear,PromoInterval
0,1,5,2015-07-31,5263,555,1,1,0,1,c,a,1270.0,9.0,2008.0,0,0.0,0.0,0
1,1,4,2015-07-30,5020,546,1,1,0,1,c,a,1270.0,9.0,2008.0,0,0.0,0.0,0
2,1,3,2015-07-29,4782,523,1,1,0,1,c,a,1270.0,9.0,2008.0,0,0.0,0.0,0
3,1,2,2015-07-28,5011,560,1,1,0,1,c,a,1270.0,9.0,2008.0,0,0.0,0.0,0
4,1,1,2015-07-27,6102,612,1,1,0,1,c,a,1270.0,9.0,2008.0,0,0.0,0.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1017204,1115,6,2013-01-05,4771,339,1,0,0,1,d,c,5350.0,7.0,2008.0,1,22.0,2012.0,"Mar,Jun,Sept,Dec"
1017205,1115,5,2013-01-04,4540,326,1,0,0,1,d,c,5350.0,7.0,2008.0,1,22.0,2012.0,"Mar,Jun,Sept,Dec"
1017206,1115,4,2013-01-03,4297,300,1,0,0,1,d,c,5350.0,7.0,2008.0,1,22.0,2012.0,"Mar,Jun,Sept,Dec"
1017207,1115,3,2013-01-02,3697,305,1,0,0,1,d,c,5350.0,7.0,2008.0,1,22.0,2012.0,"Mar,Jun,Sept,Dec"
1017208,1115,2,2013-01-01,0,0,0,0,a,1,d,c,5350.0,7.0,2008.0,1,22.0,2012.0,"Mar,Jun,Sept,Dec"

Тут я заметил, наличие customers в train и отсутствие в test поэтому в голову пришла идея сначала обучить предиктор для количества клиентов, а затем для объема продаж, + думаю нужно будет посмотреть всякие корелляции итд, но пока впадлу

#Начинаю делать простые модельки

In [77]:
!pip install catboost

Collecting catboost
  Downloading catboost-1.2.5-cp310-cp310-manylinux2014_x86_64.whl.metadata (1.2 kB)
Requirement already satisfied: graphviz in /usr/local/lib/python3.10/dist-packages (from catboost) (0.20.3)
Requirement already satisfied: matplotlib in /usr/local/lib/python3.10/dist-packages (from catboost) (3.7.1)
Requirement already satisfied: numpy>=1.16.0 in /usr/local/lib/python3.10/dist-packages (from catboost) (1.26.4)
Requirement already satisfied: pandas>=0.24 in /usr/local/lib/python3.10/dist-packages (from catboost) (2.1.4)
Requirement already satisfied: scipy in /usr/local/lib/python3.10/dist-packages (from catboost) (1.13.1)
Requirement already satisfied: plotly in /usr/local/lib/python3.10/dist-packages (from catboost) (5.15.0)
Requirement already satisfied: six in /usr/local/lib/python3.10/dist-packages (from catboost) (1.16.0)
Requirement already satisfied: python-dateutil>=2.8.2 in /usr/local/lib/python3.10/dist-packages (from pandas>=0.24->catboost) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.10/dist-packages (from pandas>=0.24->catboost) (2024.1)
Requirement already satisfied: tzdata>=2022.1 in /usr/local/lib/python3.10/dist-packages (from pandas>=0.24->catboost) (2024.1)
Requirement already satisfied: contourpy>=1.0.1 in /usr/local/lib/python3.10/dist-packages (from matplotlib->catboost) (1.2.1)
Requirement already satisfied: cycler>=0.10 in /usr/local/lib/python3.10/dist-packages (from matplotlib->catboost) (0.12.1)
Requirement already satisfied: fonttools>=4.22.0 in /usr/local/lib/python3.10/dist-packages (from matplotlib->catboost) (4.53.1)
Requirement already satisfied: kiwisolver>=1.0.1 in /usr/local/lib/python3.10/dist-packages (from matplotlib->catboost) (1.4.5)
Requirement already satisfied: packaging>=20.0 in /usr/local/lib/python3.10/dist-packages (from matplotlib->catboost) (24.1)
Requirement already satisfied: pillow>=6.2.0 in /usr/local/lib/python3.10/dist-packages (from matplotlib->catboost) (9.4.0)
Requirement already satisfied: pyparsing>=2.3.1 in /usr/local/lib/python3.10/dist-packages (from matplotlib->catboost) (3.1.2)
Requirement already satisfied: tenacity>=6.2.0 in /usr/local/lib/python3.10/dist-packages (from plotly->catboost) (9.0.0)
Downloading catboost-1.2.5-cp310-cp310-manylinux2014_x86_64.whl (98.2 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 98.2/98.2 MB 6.0 MB/s eta 0:00:00
Installing collected packages: catboost
Successfully installed catboost-1.2.5

In [106]:
from sklearn.model_selection import train_test_split
from catboost import CatBoostRegressor

In [107]:
merged_train['Date'] = pd.to_datetime(merged_train['Date'])
merged_train = merged_train.sort_values(by='Date')

In [108]:
merged_train['Year'] = merged_train['Date'].dt.year
merged_train['Month'] = merged_train['Date'].dt.month
merged_train['Day'] = merged_train['Date'].dt.day

In [109]:
merged_train=merged_train.drop(['Date'],axis=1)

In [119]:
merged_train

,Store,DayOfWeek,Sales,Customers,Open,Promo,StateHoliday,SchoolHoliday,StoreType,Assortment,CompetitionDistance,CompetitionOpenSinceMonth,CompetitionOpenSinceYear,Promo2,Promo2SinceWeek,Promo2SinceYear,PromoInterval,Year,Month,Day
1017208,1115,2,0,0,0,0,a,1,d,c,5350.0,7.0,2008.0,1,22.0,2012.0,"Mar,Jun,Sept,Dec",2013,1,1
679363,746,2,0,0,0,0,a,1,d,c,4330.0,2.0,2011.0,1,35.0,2011.0,"Mar,Jun,Sept,Dec",2013,1,1
155193,171,2,0,0,0,0,a,1,a,a,2640.0,7.0,2008.0,0,0.0,0.0,0,2013,1,1
632403,694,2,0,0,0,0,a,1,a,c,460.0,11.0,2012.0,1,40.0,2014.0,"Jan,Apr,Jul,Oct",2013,1,1
361623,396,2,0,0,0,0,a,1,a,c,23130.0,7.0,2008.0,0,0.0,0.0,0,2013,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
557530,612,5,8161,493,1,1,0,0,d,c,2490.0,11.0,2012.0,1,31.0,2009.0,"Jan,Apr,Jul,Oct",2015,7,31
212332,235,5,6756,548,1,1,0,1,a,a,5710.0,3.0,2012.0,1,37.0,2009.0,"Jan,Apr,Jul,Oct",2015,7,31
982701,1078,5,9732,646,1,1,0,1,d,c,670.0,7.0,2008.0,1,40.0,2011.0,"Jan,Apr,Jul,Oct",2015,7,31
769288,845,5,5151,378,1,1,0,1,d,a,7860.0,11.0,2005.0,1,14.0,2011.0,"Jan,Apr,Jul,Oct",2015,7,31
0,1,5,5263,555,1,1,0,1,c,a,1270.0,9.0,2008.0,0,0.0,0.0,0,2015,7,31

In [110]:
customer_df=merged_train.drop(['Sales'],axis=1)

In [120]:
customer_df[[   'CompetitionOpenSinceMonth',
       'Promo2SinceWeek']] = customer_df[['CompetitionOpenSinceMonth',
       'Promo2SinceWeek']].astype(int)

In [136]:
cat_features=['Store', 'DayOfWeek', 'Open', 'Promo', 'StateHoliday',
       'SchoolHoliday', 'StoreType', 'Assortment','CompetitionOpenSinceMonth', 'Promo2',
       'Promo2SinceWeek', 'PromoInterval', 'Month',]

In [123]:
X=customer_df.drop(['Customers'],axis=1)
y=customer_df['Customers']
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

Вычитал, что has_time в катбусте при сортировке по времени не мешает данные и позволяет лучше работать с временными рядами, что нам и надо) P.S. потом надо попробовать грид серч и побольше пообучать модельку

In [137]:
model = CatBoostRegressor(iterations=100,
                          learning_rate=0.1,
                          depth=10,
                          cat_features=cat_features,
                          random_seed=42,
                          verbose=100,
                          has_time=True)

model.fit(X_train, y_train, eval_set=(X_test, y_test), use_best_model=True)

0:	learn: 432.8759125	test: 435.9930990	best: 435.9930990 (0)	total: 756ms	remaining: 1m 14s
99:	learn: 130.5845847	test: 127.5731123	best: 127.5731123 (99)	total: 1m 12s	remaining: 0us

bestTest = 127.5731123
bestIteration = 99

In [138]:
import numpy as np
y_pred = model.predict(X_test)
from sklearn.metrics import mean_squared_error
rmse = np.sqrt(mean_squared_error(y_test, y_pred))
print(f'RMSE: {rmse}')

RMSE: 127.57311228605374

#Теперь предиктим для тестового датасета число посетителей

In [142]:
merged_test[[   'CompetitionOpenSinceMonth',
       'Promo2SinceWeek','Open']] = merged_test[['CompetitionOpenSinceMonth',
       'Promo2SinceWeek','Open']].astype(int)

In [147]:
merged_test=merged_test.drop('Id',axis=1)

In [149]:
merged_test['Date'] = pd.to_datetime(merged_test['Date'])
merged_test = merged_test.sort_values(by='Date')

In [150]:
merged_test['Year'] = merged_test['Date'].dt.year
merged_test['Month'] = merged_test['Date'].dt.month
merged_test['Day'] = merged_test['Date'].dt.day

In [151]:
merged_test=merged_test.drop(['Date'],axis=1)

In [152]:
merged_test

,Store,DayOfWeek,Open,Promo,StateHoliday,SchoolHoliday,StoreType,Assortment,CompetitionDistance,CompetitionOpenSinceMonth,CompetitionOpenSinceYear,Promo2,Promo2SinceWeek,Promo2SinceYear,PromoInterval,Year,Month,Day
20543,553,6,1,0,0,0,c,a,3040.0,9,2002.0,1,13,2010.0,"Jan,Apr,Jul,Oct",2015,8,1
14543,394,6,1,0,0,1,d,a,10850.0,7,2008.0,0,0,0.0,0,2015,8,1
14495,393,6,1,0,0,0,d,c,4820.0,3,2008.0,0,0,0.0,0,2015,8,1
14447,392,6,1,0,0,0,a,a,2120.0,7,2008.0,0,0,0.0,0,2015,8,1
14399,391,6,1,0,0,0,a,a,460.0,11,2014.0,1,31,2013.0,"Feb,May,Aug,Nov",2015,8,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34320,926,4,1,1,0,0,d,c,5150.0,3,2011.0,1,13,2010.0,"Jan,Apr,Jul,Oct",2015,9,17
13296,358,4,1,1,0,0,a,a,2890.0,10,2003.0,0,0,0.0,0,2015,9,17
3360,92,4,1,1,0,0,c,a,240.0,7,2008.0,1,45,2009.0,"Feb,May,Aug,Nov",2015,9,17
21024,567,4,1,1,0,0,c,a,1010.0,9,2012.0,1,18,2011.0,"Feb,May,Aug,Nov",2015,9,17
0,1,4,1,1,0,0,c,a,1270.0,9,2008.0,0,0,0.0,0,2015,9,17

In [153]:
merged_test['Customers']=model.predict(merged_test)

#Обучаю еще 1 модель на продажи уже с учетом Customers

In [159]:
sales_df=merged_train

In [160]:
sales_df[[   'CompetitionOpenSinceMonth',
       'Promo2SinceWeek']] = sales_df[['CompetitionOpenSinceMonth',
       'Promo2SinceWeek']].astype(int)

In [161]:
X=sales_df.drop(['Sales'],axis=1)
y=sales_df['Sales']

In [162]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [163]:
model = CatBoostRegressor(iterations=100,
                          learning_rate=0.1,
                          depth=10,
                          cat_features=cat_features,
                          random_seed=42,
                          verbose=100,
                          has_time=True)

model.fit(X_train, y_train, eval_set=(X_test, y_test), use_best_model=True)

0:	learn: 3515.2041043	test: 3523.2431670	best: 3523.2431670 (0)	total: 736ms	remaining: 1m 12s
99:	learn: 668.3023173	test: 670.2622156	best: 670.2622156 (99)	total: 1m 12s	remaining: 0us

bestTest = 670.2622156
bestIteration = 99

In [164]:
import numpy as np
y_pred = model.predict(X_test)
from sklearn.metrics import mean_squared_error
rmse = np.sqrt(mean_squared_error(y_test, y_pred))
print(f'RMSE: {rmse}')

RMSE: 670.262215581629

In [168]:
sales_df.columns

Index(['Store', 'DayOfWeek', 'Sales', 'Customers', 'Open', 'Promo',
       'StateHoliday', 'SchoolHoliday', 'StoreType', 'Assortment',
       'CompetitionDistance', 'CompetitionOpenSinceMonth',
       'CompetitionOpenSinceYear', 'Promo2', 'Promo2SinceWeek',
       'Promo2SinceYear', 'PromoInterval', 'Year', 'Month', 'Day'],
      dtype='object')

In [171]:
final=merged_test[['Store', 'DayOfWeek', 'Customers', 'Open', 'Promo',
       'StateHoliday', 'SchoolHoliday', 'StoreType', 'Assortment',
       'CompetitionDistance', 'CompetitionOpenSinceMonth',
       'CompetitionOpenSinceYear', 'Promo2', 'Promo2SinceWeek',
       'Promo2SinceYear', 'PromoInterval', 'Year', 'Month', 'Day']]

In [172]:
final['Sales']=model.predict(final)

<ipython-input-172-574357d7d315>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  final['Sales']=model.predict(final)

In [173]:
final

,Store,DayOfWeek,Customers,Open,Promo,StateHoliday,SchoolHoliday,StoreType,Assortment,CompetitionDistance,CompetitionOpenSinceMonth,CompetitionOpenSinceYear,Promo2,Promo2SinceWeek,Promo2SinceYear,PromoInterval,Year,Month,Day,Sales
20543,553,6,606.148580,1,0,0,0,c,a,3040.0,9,2002.0,1,13,2010.0,"Jan,Apr,Jul,Oct",2015,8,1,6246.872432
14543,394,6,618.139698,1,0,0,1,d,a,10850.0,7,2008.0,0,0,0.0,0,2015,8,1,7277.115552
14495,393,6,571.148241,1,0,0,0,d,c,4820.0,3,2008.0,0,0,0.0,0,2015,8,1,6109.761020
14447,392,6,546.691966,1,0,0,0,a,a,2120.0,7,2008.0,0,0,0.0,0,2015,8,1,5497.478200
14399,391,6,511.121842,1,0,0,0,a,a,460.0,11,2014.0,1,31,2013.0,"Feb,May,Aug,Nov",2015,8,1,4446.954424
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34320,926,4,527.172922,1,1,0,0,d,c,5150.0,3,2011.0,1,13,2010.0,"Jan,Apr,Jul,Oct",2015,9,17,7087.433637
13296,358,4,1086.328401,1,1,0,0,a,a,2890.0,10,2003.0,0,0,0.0,0,2015,9,17,10300.209386
3360,92,4,616.591996,1,1,0,0,c,a,240.0,7,2008.0,1,45,2009.0,"Feb,May,Aug,Nov",2015,9,17,5878.732509
21024,567,4,665.634999,1,1,0,0,c,a,1010.0,9,2012.0,1,18,2011.0,"Feb,May,Aug,Nov",2015,9,17,5771.801867
0,1,4,573.830099,1,1,0,0,c,a,1270.0,9,2008.0,0,0,0.0,0,2015,9,17,4748.886131