<a href="https://colab.research.google.com/github/hornetio/sales_prediction/blob/main/experiments/data_preproces_utils.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [4]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [5]:
test_df=pd.read_csv('D:/Valerian/Documents/OneDrive/Python/ДопОбр Анализ данных/Практика Нетодология/sales_prediction/Команда_11/test.csv', parse_dates=['Date'], low_memory=False)
train_df=pd.read_csv('D:/Valerian/Documents/OneDrive/Python/ДопОбр Анализ данных/Практика Нетодология/sales_prediction/Команда_11/train.csv', parse_dates=['Date'], low_memory=False)
add_df=pd.read_csv('D:/Valerian/Documents/OneDrive/Python/ДопОбр Анализ данных/Практика Нетодология/sales_prediction/Команда_11/store.csv', low_memory=False)

# Первичная обработка NaN

In [6]:
add_df.isna().sum()

Store                          0
StoreType                      0
Assortment                     0
CompetitionDistance            3
CompetitionOpenSinceMonth    354
CompetitionOpenSinceYear     354
Promo2                         0
Promo2SinceWeek              544
Promo2SinceYear              544
PromoInterval                544
dtype: int64

In [7]:
add_df.loc[add_df['Promo2'] == 0, ['Promo2SinceWeek', 'Promo2SinceYear', 'PromoInterval']] = 0

In [8]:
from random import randint

In [9]:
add_df['CompetitionDistance'].fillna(add_df['CompetitionDistance'].max()+randint(-200,200), inplace=True)
add_df['CompetitionOpenSinceMonth'].fillna(int(add_df['CompetitionOpenSinceMonth'].mean()+randint(-2,2)), inplace=True)
add_df['CompetitionOpenSinceYear'].fillna(int(add_df['CompetitionOpenSinceYear'].mean()+randint(-5,5)), inplace=True)

C:\Users\panfi\AppData\Local\Temp\ipykernel_18188\3165722452.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  add_df['CompetitionDistance'].fillna(add_df['CompetitionDistance'].max()+randint(-200,200), inplace=True)
C:\Users\panfi\AppData\Local\Temp\ipykernel_18188\3165722452.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  add_df['CompetitionOpenSinceMonth'].fillna(int(add_df['CompetitionOpenSinceMonth'].mean()+randint(-2,2)), inplace=True)
C:\Users\panfi\AppData\Local\Temp\ipykernel_18188\3165722452.py:3: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  add_df['CompetitionOpenSinceYear'].fillna(int(add_df['CompetitionOpenSinceYear'].mean()+randint(-5,5)), inplace=True)

In [10]:
df = pd.merge(train_df, add_df, on='Store')

In [11]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1017209 entries, 0 to 1017208
Data columns (total 18 columns):
 #   Column                     Non-Null Count    Dtype
---  ------                     --------------    -----
 0   Store                      1017209 non-null  int64
 1   DayOfWeek                  1017209 non-null  int64
 2   Date                       1017209 non-null  datetime64[ns]
 3   Sales                      1017209 non-null  int64
 4   Customers                  1017209 non-null  int64
 5   Open                       1017209 non-null  int64
 6   Promo                      1017209 non-null  int64
 7   StateHoliday               1017209 non-null  object
 8   SchoolHoliday              1017209 non-null  int64
 9   StoreType                  1017209 non-null  object
 10  Assortment                 1017209 non-null  object
 11  CompetitionDistance        1017209 non-null  float64
 12  CompetitionOpenSinceMonth  1017209 non-null  float64
 13  CompetitionOpenSinceYear   1017209 non-null  float64
 14  Promo2                     1017209 non-null  int64
 15  Promo2SinceWeek            1017209 non-null  float64
 16  Promo2SinceYear            1017209 non-null  float64
 17  PromoInterval              1017209 non-null  object
dtypes: datetime64[ns](1), float64(5), int64(8), object(4)
memory usage: 139.7+ MB

In [12]:
df.isnull().sum()

Store                        0
DayOfWeek                    0
Date                         0
Sales                        0
Customers                    0
Open                         0
Promo                        0
StateHoliday                 0
SchoolHoliday                0
StoreType                    0
Assortment                   0
CompetitionDistance          0
CompetitionOpenSinceMonth    0
CompetitionOpenSinceYear     0
Promo2                       0
Promo2SinceWeek              0
Promo2SinceYear              0
PromoInterval                0
dtype: int64

In [13]:
df.describe()

,Store,DayOfWeek,Date,Sales,Customers,Open,Promo,SchoolHoliday,CompetitionDistance,CompetitionOpenSinceMonth,CompetitionOpenSinceYear,Promo2,Promo2SinceWeek,Promo2SinceYear
count,1.017209e+06,1.017209e+06,1017209,1.017209e+06,1.017209e+06,1.017209e+06,1.017209e+06,1.017209e+06,1.017209e+06,1.017209e+06,1.017209e+06,1.017209e+06,1.017209e+06,1.017209e+06
mean,5.584297e+02,3.998341e+00,2014-04-11 01:30:42.846061824,5.773819e+03,6.331459e+02,8.301067e-01,3.815145e-01,1.786467e-01,5.612637e+03,7.152022e+00,2.007835e+03,5.005638e-01,1.164767e+01,1.007011e+03
min,1.000000e+00,1.000000e+00,2013-01-01 00:00:00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,2.000000e+01,1.000000e+00,1.900000e+03,0.000000e+00,0.000000e+00,0.000000e+00
25%,2.800000e+02,2.000000e+00,2013-08-17 00:00:00,3.727000e+03,4.050000e+02,1.000000e+00,0.000000e+00,0.000000e+00,7.100000e+02,6.000000e+00,2.006000e+03,0.000000e+00,0.000000e+00,0.000000e+00
50%,5.580000e+02,4.000000e+00,2014-04-02 00:00:00,5.744000e+03,6.090000e+02,1.000000e+00,0.000000e+00,0.000000e+00,2.330000e+03,7.000000e+00,2.006000e+03,1.000000e+00,1.000000e+00,2.009000e+03
75%,8.380000e+02,6.000000e+00,2014-12-12 00:00:00,7.856000e+03,8.370000e+02,1.000000e+00,1.000000e+00,0.000000e+00,6.910000e+03,9.000000e+00,2.011000e+03,1.000000e+00,2.200000e+01,2.012000e+03
max,1.115000e+03,7.000000e+00,2015-07-31 00:00:00,4.155100e+04,7.388000e+03,1.000000e+00,1.000000e+00,1.000000e+00,7.586000e+04,1.200000e+01,2.015000e+03,1.000000e+00,5.000000e+01,2.015000e+03
std,3.219087e+02,1.997391e+00,NaN,3.849926e+03,4.644117e+02,3.755392e-01,4.857586e-01,3.830564e-01,8.495228e+03,2.654703e+00,5.105439e+00,4.999999e-01,1.532393e+01,1.005877e+03

# Фичи из даты

In [14]:
df['Year'] = df['Date'].dt.year
df['Month'] = df['Date'].dt.month
df['Day'] = df['Date'].dt.day
df['DayOfWeek'] = df['Date'].dt.dayofweek
df['IsWeekend'] = df['DayOfWeek'].isin([5, 6]).astype(int)
df['WeekOfYear'] = df['Date'].dt.isocalendar().week

вариант преобразования даты в порядковое для некоторых моделей

In [15]:
df_cleaned = df.drop(columns=['Date'])

In [16]:
df['DateOrdinal'] = df['Date'].map(pd.Timestamp.toordinal)

# Можно юзать лаговые и скользящие признаки

In [17]:
df['Sales_Lag_1'] = df['Sales'].shift(1)
df['Sales_Lag_7'] = df['Sales'].shift(7)
df['Sales_MA_7'] = df['Sales'].rolling(window=7).mean()
df['Sales_MA_30'] = df['Sales'].rolling(window=30).mean()
df = df.dropna()

# Сезонное декомпозирование

In [19]:
from statsmodels.tsa.seasonal import seasonal_decompose
result = seasonal_decompose(df['Sales'], model='additive', period=365)
df['Trend'] = result.trend
df['Seasonal'] = result.seasonal
df['Residual'] = result.resid
df = df.dropna()

# Нормализация с учетом временных данных (тут чисто пример от гптшки т.к. не успеваю дописать

In [20]:
from sklearn.preprocessing import StandardScaler
df['Month'] = df['Month'].astype(str)
scaler = StandardScaler()
df_scaled = df.copy()
for month in df['Month'].unique():
    mask = df['Month'] == month
    df_scaled.loc[mask, ['Sales']] = scaler.fit_transform(df.loc[mask, ['Sales']])
df_scaled = df_scaled.drop(columns=['Month'])
print(df_scaled.head())

C:\Users\panfi\AppData\Local\Temp\ipykernel_18188\2749990115.py:7: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '[-2.76549202e-03  1.21569074e+00  1.38928505e+00 ...  7.72915392e-01
  5.40502673e+00  3.97160630e-01]' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_scaled.loc[mask, ['Sales']] = scaler.fit_transform(df.loc[mask, ['Sales']])

     Store  DayOfWeek       Date     Sales  Customers  Open  Promo  \
211    212          4 2015-07-31 -0.002765        471     1      1
212    213          4 2015-07-31  1.215691        754     1      1
213    214          4 2015-07-31  1.389285        805     1      1
214    215          4 2015-07-31  0.989084        705     1      1
215    216          4 2015-07-31  1.151692       1077     1      1

    StateHoliday  SchoolHoliday StoreType  ... IsWeekend  WeekOfYear  \
211            0              1         a  ...         0          31
212            0              1         d  ...         0          31
213            0              1         d  ...         0          31
214            0              0         d  ...         0          31
215            0              1         c  ...         0          31

     DateOrdinal  Sales_Lag_1  Sales_Lag_7   Sales_MA_7  Sales_MA_30  \
211       735810      17286.0       8665.0  9261.000000  8723.000000
212       735810       6049.0      10354.0  9279.714286  8886.233333
213       735810      10485.0      13957.0  8874.000000  8983.800000
214       735810      11117.0       3994.0  9683.428571  9040.533333
215       735810       9660.0       8912.0  9874.857143  9217.033333

           Trend   Seasonal     Residual
211  9043.016438  94.517207 -3088.533646
212  9043.536986 -35.709970  1477.172983
213  9061.432877  23.405916  2032.161207
214  9066.186301 -75.088513   668.902212
215  9059.219178 -68.267422  1261.048244

[5 rows x 30 columns]

In [21]:
print(df.info)

<bound method DataFrame.info of          Store  DayOfWeek       Date  Sales  Customers  Open  Promo  \
211        212          4 2015-07-31   6049        471     1      1
212        213          4 2015-07-31  10485        754     1      1
213        214          4 2015-07-31  11117        805     1      1
214        215          4 2015-07-31   9660        705     1      1
215        216          4 2015-07-31  10252       1077     1      1
...        ...        ...        ...    ...        ...   ...    ...
1017022    928          1 2013-01-01      0          0     0      0
1017023    929          1 2013-01-01      0          0     0      0
1017024    930          1 2013-01-01      0          0     0      0
1017025    931          1 2013-01-01      0          0     0      0
1017026    932          1 2013-01-01      0          0     0      0

        StateHoliday  SchoolHoliday StoreType  ... IsWeekend  WeekOfYear  \
211                0              1         a  ...         0          31
212                0              1         d  ...         0          31
213                0              1         d  ...         0          31
214                0              0         d  ...         0          31
215                0              1         c  ...         0          31
...              ...            ...       ...  ...       ...         ...
1017022            a              1         d  ...         0           1
1017023            a              1         a  ...         0           1
1017024            a              1         a  ...         0           1
1017025            a              1         a  ...         0           1
1017026            a              1         a  ...         0           1

         DateOrdinal  Sales_Lag_1  Sales_Lag_7   Sales_MA_7  Sales_MA_30  \
211           735810      17286.0       8665.0  9261.000000  8723.000000
212           735810       6049.0      10354.0  9279.714286  8886.233333
213           735810      10485.0      13957.0  8874.000000  8983.800000
214           735810      11117.0       3994.0  9683.428571  9040.533333
215           735810       9660.0       8912.0  9874.857143  9217.033333
...              ...          ...          ...          ...          ...
1017022       734869          0.0          0.0     0.000000     0.000000
1017023       734869          0.0          0.0     0.000000     0.000000
1017024       734869          0.0          0.0     0.000000     0.000000
1017025       734869          0.0          0.0     0.000000     0.000000
1017026       734869          0.0          0.0     0.000000     0.000000

               Trend   Seasonal     Residual
211      9043.016438  94.517207 -3088.533646
212      9043.536986 -35.709970  1477.172983
213      9061.432877  23.405916  2032.161207
214      9066.186301 -75.088513   668.902212
215      9059.219178 -68.267422  1261.048244
...              ...        ...          ...
1017022    42.430137   5.217166   -47.647303
1017023    42.430137  -2.413130   -40.017007
1017024    42.430137 -88.582835    46.152698
1017025    42.430137 -21.045509   -21.384628
1017026    42.430137  82.383746  -124.813883

[1016816 rows x 31 columns]>

In [24]:
df = df.drop(columns=["Store"])
df = df.drop(columns=['Customers'])
df = df.drop(columns=['Sales_Lag_1'])
df = df.drop(columns=['Sales_Lag_7'])
df = df.drop(columns=['Sales_MA_7'])
df = df.drop(columns=['Sales_MA_30'])
df = df.drop(columns=['Residual'])
df = df.drop(columns=['StoreType']) 
df = df.drop(columns=['Seasonal']) 
df = df.drop(columns=['Trend']) 
# Приведение всех столбцов к числовым значениям
for col in df.columns:
    df[col] = pd.to_numeric(df[col], errors='coerce')

KeyError: "['Store'] not found in axis"

In [25]:
print(df.info)

<bound method DataFrame.info of          DayOfWeek                 Date  Sales  Open  Promo  StateHoliday  \
211              4  1438300800000000000   6049     1      1           0.0
212              4  1438300800000000000  10485     1      1           0.0
213              4  1438300800000000000  11117     1      1           0.0
214              4  1438300800000000000   9660     1      1           0.0
215              4  1438300800000000000  10252     1      1           0.0
...            ...                  ...    ...   ...    ...           ...
1017022          1  1356998400000000000      0     0      0           NaN
1017023          1  1356998400000000000      0     0      0           NaN
1017024          1  1356998400000000000      0     0      0           NaN
1017025          1  1356998400000000000      0     0      0           NaN
1017026          1  1356998400000000000      0     0      0           NaN

         SchoolHoliday  Assortment  CompetitionDistance  \
211                  1         NaN              15050.0
212                  1         NaN               4030.0
213                  1         NaN               8650.0
214                  0         NaN                150.0
215                  1         NaN                190.0
...                ...         ...                  ...
1017022              1         NaN               1090.0
1017023              1         NaN               4820.0
1017024              1         NaN                 70.0
1017025              1         NaN               1480.0
1017026              1         NaN              15700.0

         CompetitionOpenSinceMonth  ...  Promo2SinceYear  PromoInterval  Year  \
211                            9.0  ...              0.0            0.0  2015
212                            3.0  ...           2014.0            NaN  2015
213                            7.0  ...           2014.0            NaN  2015
214                            7.0  ...           2009.0            NaN  2015
215                            7.0  ...           2009.0            NaN  2015
...                            ...  ...              ...            ...   ...
1017022                        7.0  ...           2013.0            NaN  2013
1017023                        9.0  ...              0.0            0.0  2013
1017024                        7.0  ...              0.0            0.0  2013
1017025                        9.0  ...           2012.0            NaN  2013
1017026                        7.0  ...           2010.0            NaN  2013

         Month  Day  IsWeekend  WeekOfYear  DateOrdinal        Trend  \
211          7   31          0          31       735810  9043.016438
212          7   31          0          31       735810  9043.536986
213          7   31          0          31       735810  9061.432877
214          7   31          0          31       735810  9066.186301
215          7   31          0          31       735810  9059.219178
...        ...  ...        ...         ...          ...          ...
1017022      1    1          0           1       734869    42.430137
1017023      1    1          0           1       734869    42.430137
1017024      1    1          0           1       734869    42.430137
1017025      1    1          0           1       734869    42.430137
1017026      1    1          0           1       734869    42.430137

          Seasonal
211      94.517207
212     -35.709970
213      23.405916
214     -75.088513
215     -68.267422
...            ...
1017022   5.217166
1017023  -2.413130
1017024 -88.582835
1017025 -21.045509
1017026  82.383746

[1016816 rows x 23 columns]>

In [26]:
from sklearn.model_selection import train_test_split

# Определяем целевую переменную (в данном случае, допустим, что 'Sales' - это целевая переменная)
target = 'Sales'

# Разделяем признаки (X) и целевую переменную (y)
X = df.drop(columns=[target])
Y = df[target]

# Разделяем данные на тренировочный и тестовый наборы
# Например, тестовый набор составит 20% от всех данных
train_points, test_points, train_values, test_values = train_test_split(X, Y, test_size = 0.2)
print(train_points.columns)
print(train_values)

Index(['DayOfWeek', 'Date', 'Open', 'Promo', 'StateHoliday', 'SchoolHoliday',
       'Assortment', 'CompetitionDistance', 'CompetitionOpenSinceMonth',
       'CompetitionOpenSinceYear', 'Promo2', 'Promo2SinceWeek',
       'Promo2SinceYear', 'PromoInterval', 'Year', 'Month', 'Day', 'IsWeekend',
       'WeekOfYear', 'DateOrdinal', 'Trend', 'Seasonal'],
      dtype='object')
962236     3490
283388     4311
952320     6533
295478     6579
68602         0
          ...
783028     8916
721100     5607
709042     4337
36405     17934
381406     5029
Name: Sales, Length: 813452, dtype: int64

In [27]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import mean_absolute_error, mean_squared_error, r2_score

# Предположим, что ваши данные уже подготовлены и содержат колонки с лагами и скользящими средними
# Например: df содержит 'Sales_Lag_1', 'Sales_Lag_7', 'Sales_MA_7', 'Sales_MA_30' и другие признаки


    

# Разделение на признаки (X) и целевую переменную (y)
X = df.drop(columns=['Sales'])  # Все колонки кроме 'Sales' являются признаками
y = df['Sales']

# Разделение данных на обучающую и тестовую выборки
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)


# Создаем модель случайного леса с оптимизированными параметрами
model = RandomForestRegressor(
    n_estimators=50,  
    max_depth=10,  # Ограничение глубины деревьев для ускорения обучения
    n_jobs=-1,  # все доступные ядра процессора
    random_state=42
)

# Обучение модели
model.fit(X_train, y_train)

# Прогнозирование
y_pred = model.predict(X_test)

# Вычисление метрик
mae_rf = mean_absolute_error(y_test, y_pred)
mse_rf = mean_squared_error(y_test, y_pred)
rmse_rf = mse_rf ** 0.5
r2_rf = r2_score(y_test, y_pred)

# Вывод значений метрик
print(f"Среднее абсолютное отклонение (MAE) на тестовых данных (RandomForest): {mae_rf}")
print(f"Среднеквадратичная ошибка (MSE) на тестовых данных (RandomForest): {mse_rf}")
print(f"Корень средней квадратичной ошибки (RMSE) на тестовых данных (RandomForest): {rmse_rf}")
print(f"Коэффициент детерминации (R^2) на тестовых данных (RandomForest): {r2_rf}")

Среднее абсолютное отклонение (MAE) на тестовых данных (RandomForest): 1412.4703657658977
Среднеквадратичная ошибка (MSE) на тестовых данных (RandomForest): 4472409.399550748
Корень средней квадратичной ошибки (RMSE) на тестовых данных (RandomForest): 2114.807177865336
Коэффициент детерминации (R^2) на тестовых данных (RandomForest): 0.6974376703806044