<a href="https://colab.research.google.com/github/hornetio/sales_prediction/blob/main/Sales_model.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Загрузка данных

In [57]:
import pandas as pd

In [58]:
test_df = pd.read_csv('D:/Valerian/Documents/OneDrive/Python/ДопОбр Анализ данных/Практика Нетодология/sales_prediction/Команда_11/test.csv', encoding='iso-8859-1',na_values=[''], keep_default_na=False)

train_df = pd.read_csv('D:/Valerian/Documents/OneDrive/Python/ДопОбр Анализ данных/Практика Нетодология/sales_prediction/Команда_11/train.csv', parse_dates=['Date'], low_memory=False, na_values=[''], keep_default_na=False)

# Загрузка данных из файла store.csv
add_df = pd.read_csv('D:/Valerian/Documents/OneDrive/Python/ДопОбр Анализ данных/Практика Нетодология/sales_prediction/Команда_11/store.csv', encoding='iso-8859-1',na_values=[''], keep_default_na=False)

#Чищу NaN

In [59]:
train_df.isna().sum()

Store            0
DayOfWeek        0
Date             0
Sales            0
Customers        0
Open             0
Promo            0
StateHoliday     0
SchoolHoliday    0
dtype: int64

In [60]:
test_df.isna().sum()

Id                0
Store             0
DayOfWeek         0
Date              0
Open             11
Promo             0
StateHoliday      0
SchoolHoliday     0
dtype: int64

In [61]:
test_df.fillna(0,inplace=True)

In [62]:
add_df.isna().sum()

Store                          0
StoreType                      0
Assortment                     0
CompetitionDistance            3
CompetitionOpenSinceMonth    354
CompetitionOpenSinceYear     354
Promo2                         0
Promo2SinceWeek              544
Promo2SinceYear              544
PromoInterval                544
dtype: int64

In [63]:
add_df.loc[add_df['Promo2'] == 0, ['Promo2SinceWeek', 'Promo2SinceYear', 'PromoInterval']] = 0

In [64]:
add_df['CompetitionDistance'].fillna(add_df['CompetitionDistance'].mean(), inplace=True)
add_df['CompetitionOpenSinceMonth'].fillna(int(add_df['CompetitionOpenSinceMonth'].mean()), inplace=True)
add_df['CompetitionOpenSinceYear'].fillna(int(add_df['CompetitionOpenSinceYear'].mean()), inplace=True)

C:\Users\panfi\AppData\Local\Temp\ipykernel_24564\1350760453.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  add_df['CompetitionDistance'].fillna(add_df['CompetitionDistance'].mean(), inplace=True)
C:\Users\panfi\AppData\Local\Temp\ipykernel_24564\1350760453.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  add_df['CompetitionOpenSinceMonth'].fillna(int(add_df['CompetitionOpenSinceMonth'].mean()), inplace=True)
C:\Users\panfi\AppData\Local\Temp\ipykernel_24564\1350760453.py:3: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  add_df['CompetitionOpenSinceYear'].fillna(int(add_df['CompetitionOpenSinceYear'].mean()), inplace=True)

#Мерджим данные

In [65]:
merged_test = pd.merge(test_df, add_df, on='Store')

In [66]:
merged_train = pd.merge(train_df, add_df, on='Store')

In [67]:
merged_test

,Id,Store,DayOfWeek,Date,Open,Promo,StateHoliday,SchoolHoliday,StoreType,Assortment,CompetitionDistance,CompetitionOpenSinceMonth,CompetitionOpenSinceYear,Promo2,Promo2SinceWeek,Promo2SinceYear,PromoInterval
0,1,1,4,2015-09-17,1.0,1,0,0,c,a,1270.0,9.0,2008.0,0,0.0,0.0,0
1,2,3,4,2015-09-17,1.0,1,0,0,a,a,14130.0,12.0,2006.0,1,14.0,2011.0,"Jan,Apr,Jul,Oct"
2,3,7,4,2015-09-17,1.0,1,0,0,a,c,24000.0,4.0,2013.0,0,0.0,0.0,0
3,4,8,4,2015-09-17,1.0,1,0,0,a,a,7520.0,10.0,2014.0,0,0.0,0.0,0
4,5,9,4,2015-09-17,1.0,1,0,0,a,c,2030.0,8.0,2000.0,0,0.0,0.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
41083,41084,1111,6,2015-08-01,1.0,0,0,0,a,a,1900.0,6.0,2014.0,1,31.0,2013.0,"Jan,Apr,Jul,Oct"
41084,41085,1112,6,2015-08-01,1.0,0,0,0,c,c,1880.0,4.0,2006.0,0,0.0,0.0,0
41085,41086,1113,6,2015-08-01,1.0,0,0,0,a,c,9260.0,7.0,2008.0,0,0.0,0.0,0
41086,41087,1114,6,2015-08-01,1.0,0,0,0,a,c,870.0,7.0,2008.0,0,0.0,0.0,0
41087,41088,1115,6,2015-08-01,1.0,0,0,1,d,c,5350.0,7.0,2008.0,1,22.0,2012.0,"Mar,Jun,Sept,Dec"

In [68]:
merged_train

,Store,DayOfWeek,Date,Sales,Customers,Open,Promo,StateHoliday,SchoolHoliday,StoreType,Assortment,CompetitionDistance,CompetitionOpenSinceMonth,CompetitionOpenSinceYear,Promo2,Promo2SinceWeek,Promo2SinceYear,PromoInterval
0,1,5,2015-07-31,5263,555,1,1,0,1,c,a,1270.0,9.0,2008.0,0,0.0,0.0,0
1,2,5,2015-07-31,6064,625,1,1,0,1,a,a,570.0,11.0,2007.0,1,13.0,2010.0,"Jan,Apr,Jul,Oct"
2,3,5,2015-07-31,8314,821,1,1,0,1,a,a,14130.0,12.0,2006.0,1,14.0,2011.0,"Jan,Apr,Jul,Oct"
3,4,5,2015-07-31,13995,1498,1,1,0,1,c,c,620.0,9.0,2009.0,0,0.0,0.0,0
4,5,5,2015-07-31,4822,559,1,1,0,1,a,a,29910.0,4.0,2015.0,0,0.0,0.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1017204,1111,2,2013-01-01,0,0,0,0,a,1,a,a,1900.0,6.0,2014.0,1,31.0,2013.0,"Jan,Apr,Jul,Oct"
1017205,1112,2,2013-01-01,0,0,0,0,a,1,c,c,1880.0,4.0,2006.0,0,0.0,0.0,0
1017206,1113,2,2013-01-01,0,0,0,0,a,1,a,c,9260.0,7.0,2008.0,0,0.0,0.0,0
1017207,1114,2,2013-01-01,0,0,0,0,a,1,a,c,870.0,7.0,2008.0,0,0.0,0.0,0
1017208,1115,2,2013-01-01,0,0,0,0,a,1,d,c,5350.0,7.0,2008.0,1,22.0,2012.0,"Mar,Jun,Sept,Dec"

Тут я заметил, наличие customers в train и отсутствие в test поэтому в голову пришла идея сначала обучить предиктор для количества клиентов, а затем для объема продаж, + думаю нужно будет посмотреть всякие корелляции итд, но пока впадлу

#Начинаю делать простые модельки

In [69]:
!pip install catboost

Requirement already satisfied: catboost in d:\users\panfi\miniconda3\lib\site-packages (1.2.5)
Requirement already satisfied: graphviz in d:\users\panfi\miniconda3\lib\site-packages (from catboost) (0.20.3)
Requirement already satisfied: matplotlib in d:\users\panfi\miniconda3\lib\site-packages (from catboost) (3.9.2)
Requirement already satisfied: numpy>=1.16.0 in d:\users\panfi\miniconda3\lib\site-packages (from catboost) (2.1.0)
Requirement already satisfied: pandas>=0.24 in d:\users\panfi\miniconda3\lib\site-packages (from catboost) (2.2.2)
Requirement already satisfied: scipy in d:\users\panfi\miniconda3\lib\site-packages (from catboost) (1.14.1)
Requirement already satisfied: plotly in d:\users\panfi\miniconda3\lib\site-packages (from catboost) (5.23.0)
Requirement already satisfied: six in c:\users\panfi\appdata\roaming\python\python312\site-packages (from catboost) (1.16.0)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\panfi\appdata\roaming\python\python312\site-packages (from pandas>=0.24->catboost) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in d:\users\panfi\miniconda3\lib\site-packages (from pandas>=0.24->catboost) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in d:\users\panfi\miniconda3\lib\site-packages (from pandas>=0.24->catboost) (2024.1)
Requirement already satisfied: contourpy>=1.0.1 in d:\users\panfi\miniconda3\lib\site-packages (from matplotlib->catboost) (1.2.1)
Requirement already satisfied: cycler>=0.10 in d:\users\panfi\miniconda3\lib\site-packages (from matplotlib->catboost) (0.12.1)
Requirement already satisfied: fonttools>=4.22.0 in d:\users\panfi\miniconda3\lib\site-packages (from matplotlib->catboost) (4.53.1)
Requirement already satisfied: kiwisolver>=1.3.1 in d:\users\panfi\miniconda3\lib\site-packages (from matplotlib->catboost) (1.4.5)
Requirement already satisfied: packaging>=20.0 in c:\users\panfi\appdata\roaming\python\python312\site-packages (from matplotlib->catboost) (24.0)
Requirement already satisfied: pillow>=8 in d:\users\panfi\miniconda3\lib\site-packages (from matplotlib->catboost) (10.4.0)
Requirement already satisfied: pyparsing>=2.3.1 in d:\users\panfi\miniconda3\lib\site-packages (from matplotlib->catboost) (3.1.2)
Requirement already satisfied: tenacity>=6.2.0 in d:\users\panfi\miniconda3\lib\site-packages (from plotly->catboost) (9.0.0)

In [70]:
from sklearn.model_selection import train_test_split
from catboost import CatBoostRegressor

In [71]:
merged_train['Date'] = pd.to_datetime(merged_train['Date'])
merged_train = merged_train.sort_values(by='Date')

In [72]:
merged_train['Year'] = merged_train['Date'].dt.year
merged_train['Month'] = merged_train['Date'].dt.month
merged_train['Day'] = merged_train['Date'].dt.day

In [73]:
merged_train=merged_train.drop(['Date'],axis=1)

In [74]:
merged_train

,Store,DayOfWeek,Sales,Customers,Open,Promo,StateHoliday,SchoolHoliday,StoreType,Assortment,CompetitionDistance,CompetitionOpenSinceMonth,CompetitionOpenSinceYear,Promo2,Promo2SinceWeek,Promo2SinceYear,PromoInterval,Year,Month,Day
1017208,1115,2,0,0,0,0,a,1,d,c,5350.0,7.0,2008.0,1,22.0,2012.0,"Mar,Jun,Sept,Dec",2013,1,1
1016473,379,2,0,0,0,0,a,1,d,a,6630.0,7.0,2008.0,0,0.0,0.0,0,2013,1,1
1016472,378,2,0,0,0,0,a,1,a,c,2140.0,8.0,2012.0,0,0.0,0.0,0,2013,1,1
1016471,377,2,0,0,0,0,a,1,a,c,100.0,6.0,2010.0,1,18.0,2010.0,"Feb,May,Aug,Nov",2013,1,1
1016470,376,2,0,0,0,0,a,1,a,a,160.0,8.0,2012.0,0,0.0,0.0,0,2013,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
745,746,5,9082,638,1,1,0,1,d,c,4330.0,2.0,2011.0,1,35.0,2011.0,"Mar,Jun,Sept,Dec",2015,7,31
746,747,5,10708,826,1,1,0,1,c,c,45740.0,8.0,2008.0,0,0.0,0.0,0,2015,7,31
747,748,5,7481,578,1,1,0,1,d,a,2380.0,3.0,2010.0,1,14.0,2011.0,"Jan,Apr,Jul,Oct",2015,7,31
741,742,5,10460,1016,1,1,0,1,d,c,4380.0,7.0,2008.0,0,0.0,0.0,0,2015,7,31
0,1,5,5263,555,1,1,0,1,c,a,1270.0,9.0,2008.0,0,0.0,0.0,0,2015,7,31

In [75]:
customer_df=merged_train.drop(['Sales'],axis=1)

In [76]:
customer_df[[   'CompetitionOpenSinceMonth',
       'Promo2SinceWeek']] = customer_df[['CompetitionOpenSinceMonth',
       'Promo2SinceWeek']].astype(int)

In [77]:
cat_features=['Store', 'DayOfWeek', 'Open', 'Promo', 'StateHoliday',
       'SchoolHoliday', 'StoreType', 'Assortment','CompetitionOpenSinceMonth', 'Promo2',
       'Promo2SinceWeek', 'PromoInterval', 'Month',]

In [78]:
X=customer_df.drop(['Customers'],axis=1)
y=customer_df['Customers']
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

Вычитал, что has_time в катбусте при сортировке по времени не мешает данные и позволяет лучше работать с временными рядами, что нам и надо) P.S. потом надо попробовать грид серч и побольше пообучать модельку

In [79]:
model = CatBoostRegressor(iterations=100,
                          learning_rate=0.1,
                          depth=10,
                          cat_features=cat_features,
                          random_seed=42,
                          verbose=100,
                          has_time=True)

model.fit(X_train, y_train, eval_set=(X_test, y_test), use_best_model=True)

0:	learn: 434.1184183	test: 434.0387035	best: 434.0387035 (0)	total: 331ms	remaining: 32.8s
99:	learn: 131.6956581	test: 128.8259580	best: 128.8259580 (99)	total: 24.1s	remaining: 0us

bestTest = 128.825958
bestIteration = 99

In [80]:
import numpy as np
y_pred = model.predict(X_test)
from sklearn.metrics import mean_squared_error
rmse = np.sqrt(mean_squared_error(y_test, y_pred))
print(f'RMSE: {rmse}')

RMSE: 128.82595802848638

#Теперь предиктим для тестового датасета число посетителей

In [81]:
merged_test[[   'CompetitionOpenSinceMonth',
       'Promo2SinceWeek','Open']] = merged_test[['CompetitionOpenSinceMonth',
       'Promo2SinceWeek','Open']].astype(int)

In [82]:
merged_test=merged_test.drop('Id',axis=1)

In [83]:
merged_test['Date'] = pd.to_datetime(merged_test['Date'])
merged_test = merged_test.sort_values(by='Date')

In [84]:
merged_test['Year'] = merged_test['Date'].dt.year
merged_test['Month'] = merged_test['Date'].dt.month
merged_test['Day'] = merged_test['Date'].dt.day

In [85]:
merged_test=merged_test.drop(['Date'],axis=1)

In [86]:
merged_test

,Store,DayOfWeek,Open,Promo,StateHoliday,SchoolHoliday,StoreType,Assortment,CompetitionDistance,CompetitionOpenSinceMonth,CompetitionOpenSinceYear,Promo2,Promo2SinceWeek,Promo2SinceYear,PromoInterval,Year,Month,Day
41087,1115,6,1,0,0,1,d,c,5350.0,7,2008.0,1,22,2012.0,"Mar,Jun,Sept,Dec",2015,8,1
40522,378,6,1,0,0,0,a,c,2140.0,8,2012.0,0,0,0.0,0,2015,8,1
40521,377,6,1,0,0,0,a,c,100.0,6,2010.0,1,18,2010.0,"Feb,May,Aug,Nov",2015,8,1
40520,373,6,1,0,0,0,d,c,11120.0,7,2008.0,1,22,2012.0,"Jan,Apr,Jul,Oct",2015,8,1
40519,372,6,1,0,0,0,d,c,4880.0,8,2010.0,1,18,2014.0,"Jan,Apr,Jul,Oct",2015,8,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
566,732,4,1,1,0,0,a,c,35280.0,7,2008.0,0,0,0.0,0,2015,9,17
565,731,4,1,1,0,0,a,a,15270.0,7,2008.0,1,10,2014.0,"Jan,Apr,Jul,Oct",2015,9,17
564,729,4,1,1,0,0,c,c,8980.0,6,2011.0,0,0,0.0,0,2015,9,17
562,727,4,1,1,0,0,a,a,2050.0,3,2007.0,0,0,0.0,0,2015,9,17
0,1,4,1,1,0,0,c,a,1270.0,9,2008.0,0,0,0.0,0,2015,9,17

In [87]:
merged_test['Customers']=model.predict(merged_test)

#Обучаю еще 1 модель на продажи уже с учетом Customers

In [88]:
sales_df=merged_train

In [89]:
sales_df[[   'CompetitionOpenSinceMonth',
       'Promo2SinceWeek']] = sales_df[['CompetitionOpenSinceMonth',
       'Promo2SinceWeek']].astype(int)

In [90]:
X=sales_df.drop(['Sales'],axis=1)
y=sales_df['Sales']

In [91]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [92]:
model = CatBoostRegressor(iterations=100,
                          learning_rate=0.1,
                          depth=10,
                          cat_features=cat_features,
                          random_seed=42,
                          verbose=100,
                          has_time=True)

model.fit(X_train, y_train, eval_set=(X_test, y_test), use_best_model=True)

0:	learn: 3517.3081203	test: 3514.6906228	best: 3514.6906228 (0)	total: 341ms	remaining: 33.8s
99:	learn: 670.9490161	test: 664.4731396	best: 664.4731396 (99)	total: 23.9s	remaining: 0us

bestTest = 664.4731396
bestIteration = 99

In [93]:
import numpy as np
y_pred = model.predict(X_test)
from sklearn.metrics import mean_squared_error
rmse = np.sqrt(mean_squared_error(y_test, y_pred))
print(f'RMSE: {rmse}')

RMSE: 664.4731395872956

In [94]:
sales_df.columns

Index(['Store', 'DayOfWeek', 'Sales', 'Customers', 'Open', 'Promo',
       'StateHoliday', 'SchoolHoliday', 'StoreType', 'Assortment',
       'CompetitionDistance', 'CompetitionOpenSinceMonth',
       'CompetitionOpenSinceYear', 'Promo2', 'Promo2SinceWeek',
       'Promo2SinceYear', 'PromoInterval', 'Year', 'Month', 'Day'],
      dtype='object')

In [95]:
final=merged_test[['Store', 'DayOfWeek', 'Customers', 'Open', 'Promo',
       'StateHoliday', 'SchoolHoliday', 'StoreType', 'Assortment',
       'CompetitionDistance', 'CompetitionOpenSinceMonth',
       'CompetitionOpenSinceYear', 'Promo2', 'Promo2SinceWeek',
       'Promo2SinceYear', 'PromoInterval', 'Year', 'Month', 'Day']]

In [96]:
final['Sales']=model.predict(final)

C:\Users\panfi\AppData\Local\Temp\ipykernel_24564\1268740168.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  final['Sales']=model.predict(final)

In [97]:
final

,Store,DayOfWeek,Customers,Open,Promo,StateHoliday,SchoolHoliday,StoreType,Assortment,CompetitionDistance,CompetitionOpenSinceMonth,CompetitionOpenSinceYear,Promo2,Promo2SinceWeek,Promo2SinceYear,PromoInterval,Year,Month,Day,Sales
41087,1115,6,474.214363,1,0,0,1,d,c,5350.0,7,2008.0,1,22,2012.0,"Mar,Jun,Sept,Dec",2015,8,1,5632.580667
40522,378,6,1096.932504,1,0,0,0,a,c,2140.0,8,2012.0,0,0,0.0,0,2015,8,1,8423.256603
40521,377,6,1010.418002,1,0,0,0,a,c,100.0,6,2010.0,1,18,2010.0,"Feb,May,Aug,Nov",2015,8,1,8319.020372
40520,373,6,476.985566,1,0,0,0,d,c,11120.0,7,2008.0,1,22,2012.0,"Jan,Apr,Jul,Oct",2015,8,1,5420.934501
40519,372,6,819.794077,1,0,0,0,d,c,4880.0,8,2010.0,1,18,2014.0,"Jan,Apr,Jul,Oct",2015,8,1,9734.565890
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
566,732,4,717.289766,1,1,0,0,a,c,35280.0,7,2008.0,0,0,0.0,0,2015,9,17,6389.420544
565,731,4,978.470803,1,1,0,0,a,a,15270.0,7,2008.0,1,10,2014.0,"Jan,Apr,Jul,Oct",2015,9,17,10168.878123
564,729,4,1033.557009,1,1,0,0,c,c,8980.0,6,2011.0,0,0,0.0,0,2015,9,17,10247.505047
562,727,4,454.615902,1,1,0,0,a,a,2050.0,3,2007.0,0,0,0.0,0,2015,9,17,4388.298278
0,1,4,584.101955,1,1,0,0,c,a,1270.0,9,2008.0,0,0,0.0,0,2015,9,17,5015.425632

In [98]:
import pickle

# Сохраните модель в файл
with open('model.pkl', 'wb') as file:
    pickle.dump(model, file)